<nav class="flex items-center justify-between flex-wrap px-5 py-3 border-b border-red-500">
  <a href="/" class="tracking-tight">
    <img src="/assets/img/Solemanium.svg" width=50px class="rounded-md hover:shadow-lg transition-all ease-in-out" />
  </a>

  <ul>
    <li class="inline">
      <a
        href="/about/"
        class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block
        {{'bg-black text-white' if "/about/" in page.url
        else 'text-gray-600 hover:text-gray-900 hover:bg-slate-200 hover:shadow-lg transition-all ease-in-out '}}">
        About
      </a>
    </li>
    <li class="inline">
      <a
        href="/admission/"
        class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block
        {{'bg-black text-white' if "/admission/" in page.url
        else 'text-gray-600 hover:text-gray-900 hover:bg-slate-200 hover:shadow-lg transition-all ease-in-out '}}">
        Admission
      </a>
    </li>
    <li class="inline">
      <a
        href="/credits/"
        class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block
        {{'bg-black text-white' if "/credits/" in page.url
        else 'text-gray-600 hover:text-gray-900 hover:bg-slate-200 hover:shadow-lg transition-all ease-in-out '}}">
        Credits
      </a>
    </li>
    <li class="inline">
      <a
        href="/docs/"
        class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block
        {{'bg-black text-white' if "/docs/" in page.url
        else 'text-gray-600 hover:text-gray-900 hover:bg-slate-200 hover:shadow-lg transition-all ease-in-out '}}">
        Docs
      </a>
    </li>
    <li class="inline">
      <a
        href="/contact/"
        class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block
        {{'bg-black text-white' if "/contact/" in page.url
        else 'text-gray-600 hover:text-gray-900 hover:bg-slate-200 hover:shadow-lg transition-all ease-in-out '}}">
        Contact
      </a>
    </li>
  </ul>
</nav>
