<h2>Constitution</h2>
  <ul class="list-disc">
    {% for post in constitutions %}
      <li>
        <p>
          <strong>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
          </strong>
          -
          {% if not post.data.unfinished %}
          <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          {% else %}
          Work In Progress
          {% elseif %}
          -
          <span>{{ post.data.description }}</span>
        </p>
      </li>
    {% endfor %}
  </ul>
<h2>Laws</h2>
<ul class="list-disc">
  {% for post in laws %}
    <li>
      <p>
        <strong>
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </strong>
        -
        {% if not post.data.unfinished %}
        <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        {% else %}
        Work In Progress
        {% elseif %}
        -
        <span>{{ post.data.description }}</span>
      </p>
    </li>
  {% endfor %}
</ul>