---
title: Ordinances (Region I)
layout: layouts/base.njk
---

In this page, you will see the ordinances for all cities within Sá'ake Alo.

<h2>Dauxland</h2>
No ordinances have came out yet, nor has a mayor been elected.