---
title: Ordinances
layout: layouts/base.njk
---
On this page, you will see the ordinances for the Republic of Solemania.

<h2>List of Ordinances</h2>

<div class="flex justify-center items-center">
	<div class="grid gap-3 grid-cols-2 w-96">
		<a href="/docs/ordinances/lcr" class="border border-[#FA3223] text-[#FA3223] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#FA3223] hover:text-white text-center">Leeyland Territory</a>
		<a href="/docs/ordinances/region-i" class="border border-[#F0979D] text-[#F0979D] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#F0979D] hover:text-white text-center">Sá'ake Alo</a>
		<a href="/docs/ordinances/region-iia" class="border border-[#418727] text-[#418727] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#418727] hover:text-white text-center">
			<div class="text-center">Kelin Alo</div>
		</a>
		<a href="/docs/ordinances/region-iib" class="border border-[#6CDE65] text-[#6CDE65] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#6CDE65] hover:text-white text-center">
			<div class="text-center">Kelin Ratér</div>
		</a>
		<a href="/docs/ordinances/region-iii" class="border border-[#E184F4] text-[#E184F4] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#E184F4] hover:text-white text-center">
			<div class="text-center">Iblastōr</div>
		</a>
		<a href="/docs/ordinances/region-iv" class="border border-[#D02DBF] text-[#D02DBF] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#D02DBF] hover:text-white text-center">
			<div class="text-center">Qetér</div>
		</a>
		<a href="/docs/ordinances/region-v" class="border border-[#9B141E] text-[#9B141E] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#9B141E] hover:text-white text-center">
			<div class="text-center">Leke'êm</div>
		</a>
        <a href="/docs/ordinances/region-vi" class="border border-[#EB579F] text-[#EB579F] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#EB579F] hover:text-white text-center">
			<div class="text-center">Ómetor</div>
		</a>
        <a href="/docs/ordinances/region-vii" class="border border-[#60D1AC] text-[#60D1AC] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#60D1AC] hover:text-white text-center">
			<div class="text-center">Sá'ake Ratér</div>
		</a>
		<a href="/docs/ordinances/region-viiia" class="border border-[#3982F7] text-[#3982F7] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#3982F7] hover:text-white text-center">
			<div class="text-center">Safápur Territory</div>
		</a>
		<a href="/docs/ordinances/region-viiib" class="border border-[#77B1F9] text-[#77B1F9] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#77B1F9] hover:text-white text-center">
			<div class="text-center">O'léntian</div>
		</a>
		<a href="/docs/ordinances/region-ix" class="border border-[#CF2CF6] text-[#CF2CF6] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#CF2CF6] hover:text-white text-center">
			<div class="text-center">Sa'além</div>
		</a>
		<a href="/docs/ordinances/snar-i" class="border border-[#F6C744] text-[#F6C744] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#F6C744] hover:text-white text-center">
			<div class="text-center">Žailum</div>
		</a>
		<a href="/docs/ordinances/snar-ii" class="border border-[#FAE291] text-[#FAE291] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#FAE291] hover:text-white text-center">
			<div class="text-center">Axile</div>
		</a>
		<a href="/docs/ordinances/snar-iii" class="border border-[#E9752E] text-[#E9752E] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#E9752E] hover:text-white text-center">
			<div class="text-center">iMakhindi</div>
		</a>
		<a href="/docs/ordinances/snar-iv" class="border border-[#F6C58E] text-[#F6C58E] py-2 px-4 rounded-md transition-all duration-300 hover:bg-[#F6C58E] hover:text-white text-center">
			<div class="text-center">Fažikel</div>
		</a>
	</div>
</div>