<!doctype html>
<html lang="en" class="scroll-smooth m-0 p-0">

<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
  <link rel="icon" href="/assets/img/favicon.png">
  <link rel="preload" href="{{ '/fonts/Manrope[wght].ttf' }}" as="font" crossOrigin="" />
</head>

<body class="min-h-screen">
  <div class="sticky top-0">
    <nav class="flex items-center justify-between flex-wrap px-5 py-3 border-b border-red-500 bg-slate-100 box-border bg-opacity-75 z-100 backdrop-blur-sm">
      <a href="/" class="tracking-tight flex gap-2 items-center">
        <img src="/assets/img/Solemanium.svg" width=50px class="rounded-md hover:shadow-lg transition-all ease-in-out" />
        <div class="h-8 border-red-500 border"></div>
        <h1 class="text-xl">{{title}}</h1>
      </a>
    
      <div class="sm:hidden lg:block">
        {% include "../components/navigation.njk" %}
      </div>
    </nav>    
  </div>

  <main class="px-12 py-6">
    {{ content | safe }}
  </main>
</body>

</html>