<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
    <link rel="icon" href="/img/favicon.png">
    <link
      rel="preload"
      href="{{ '/fonts/Manrope[wght].ttf' }}"
      as="font"
      crossOrigin=""
    />
  </head>
  <body>
    {% include "../components/navigation.njk" %}
    <main class="px-12 py-6">
      <h1 class="text-3xl">{{title}}</h1>
      {{ content | safe }}
    </main>
    <script src="/assets/main.js"></script>
  </body>
</html>
