<!doctype html>
<html lang="en">

<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
  <link rel="icon" href="/assets/img/favicon.png">
  <link rel="preload" href="{{ '/fonts/Manrope[wght].ttf' }}" as="font" crossOrigin="" />
</head>

<body>
  <div>
    {% include "../components/navigation.njk" %}
    <div class="border-b border-red-500 p-5">
      <h1 class="text-3xl">{{title}}</h1>
    </div>
  </div>

  <main class="px-12 py-6">
    {{ content | safe }}
  </main>
</body>

</html>