---
layout: layouts/base.njk
---
<article>
    <div class="my-5 w-auto">
        <center>
            <img src="/assets/img/coat_of_arms.png" class="w-auto h-40" /><br>
        
            <b>FEDERAL REPUBLIC OF SOLEMANIA</b><br>
            <b>PARLIAMENT OF SOLEMANIA</b><br>
            <b>PARUVIA, LEEYLAND TERRITORY</b><br><br>

            {% if govbody %}
            <b>{{ govbody }}</b><br><br>
            {% endif %}

            {% if not unfinished %}
            <b>SIGNED ON: <time><b>{{ date | readableDate | upper }}</b></time></b>
            {% else %}
            <b>WORK IN PROGRESS</b>
            {% endif %}
            
            {% if purpose and act %}
                <br><br>[REPUBLIC ACT NO. <b>{{ rac }}</b>]<br><br>
                
                <b>AN ACT</b><br>
                {{ purpose }}
            {% elif purpose and proc %}
                <br><br>[PROCLAMATION NO. <b>{{ rac }}</b>, S. <b>{{ s }}</b>]<br><br>
                
                {{ purpose }}
            {% endif %}
        </center>
    </div>

    {{ content | safe }}
</article>
