---
layout: layouts/base.njk
---

<time><b>{{ date | readableDate }}</b></time>
<article>
    {% if purpose %}
        <div class="text-center my-5 w-auto">
            <b>AN ACT</b><br>
            {{ purpose }}
        </div>
    {% endif %}

    {{ content | safe }}
</article>
