---
layout: layouts/base.njk
---
<article>
    <div class="my-5 w-auto">
        <center>
            {% if act or const or proc %}
                <img src="/assets/img/coat_of_arms.png" class="w-auto h-40" /><br>
            {% else %}
                {% if city === "POL" %}
                    <img src="/assets/img/Polinet_coat_of_arms.png" class="w-auto h-40" /><br>
                {% endif %}
            {% endif %}
        
            {% if act or const or proc %}
                <b>FEDERAL REPUBLIC OF SOLEMANIA</b><br>
                <b>PARLIAMENT OF SOLEMANIA</b><br>
                <b>PARUVIA, LEEYLAND TERRITORY</b><br><br>
            {% else %}
                {% if city === "POL" %}
                    <b>MUNICIPAL GOVERNMENT OF POLINÉT</b><br>
                    <b>CITY COUNCIL OF POLINÉT</b><br>
                    <b>POLINÉT, LEEYLAND TERRITORY</b><br><br>
                {% endif %}
            {% endif %}

            {% if govbody %}
                <b>{{ govbody }}</b><br><br>
            {% endif %}

            {% if not unfinished %}
                <b>SIGNED ON: <time><b>{{ date | readableDate | upper }}</b></time></b>
            {% elif cancelled %}
                <b class="text-red-500">CANCELLED</b><br>
                <b>REASON: {{ cancelled_reason }}</b><br><br>

                <b>DOCUMENT PRESERVED AS IS ON {{ date | readableDate | upper }}</b>
            {% else %}
                <b>WORK IN PROGRESS</b>
            {% endif %}

            {% if ai %}
                <br><br><b>AI CO-WRITTEN DOCUMENT</b><br>
                <b>AI USED: {{ type }} at {{ usedwhen | readableDate }}</b><br>
                <b>USED FOR: {{ used }}</b>
            {% endif %}
            
            {% if purpose and act %}
                <br><br>[REPUBLIC ACT NO. <b>{{ rac }}</b>]<br><br>
                
                <b>AN ACT</b><br>
                {{ purpose }}
            {% elif purpose and proc %}
                <br><br>[PROCLAMATION NO. <b>{{ rac }}</b>, S. <b>{{ s }}</b>]<br><br>
                
                <b>AN PROCLAMATION</b><br>
                {{ purpose }}
            {% elif purpose and ord %}
                <br><br>[ORDINANCE NO. <b>{{ rac }}</b>, S. <b>{{ s }}</b>]<br><br>
                
                <b>AN ORDINANCE</b><br>
                {{ purpose }}
            {% endif %}
        </center>
    </div>

    {{ content | safe }}
</article>
