---
title: Ordinances (LCR)
layout: layouts/base.njk
---

In this page, you will see the ordinances for all cities within the Leeyland Territory.

<h2>Polinét</h2>

{% set laws = collections.polinet %}
<ul class="list-disc">
	{% for post in laws %}
	<li>
		<p>
			<strong>
				<a href="{{ post.url | url }}">{{ post.data.title }}</a>
			</strong>
			-
			{% if not post.data.unfinished %}
			<time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
			{% else %}
			Work In Progress
			{% endif %}
			-
			<span>{{ post.data.description }}</span>
		</p>
	</li>
	{% endfor %}
</ul>