---
title: About
layout: layouts/base.njk
permalink: /about/
eleventyNavigation:
  key: About
  order: 0
---

<h2>What technologies was used in this project?</h2>

<a href="https://www.11ty.dev">11ty</a>, <a href="https://tailwindcss.com">Tailwind</a> and <a href="https://www.netlify.com">Netlify</a>.<br><br>

Thanks to Tom Reinert for making <a href="https://github.com/tomreinert/minimal-11ty-tailwind-starter">Minimal 11ty Starter</a> which was the template used for this website.