---
title: About
layout: layouts/base.njk
permalink: /about/
---

<h2>Why should you join the Federal Republic of Solemania?</h2>
As a democratic nation built on the ideas of freedom, fairness, and equality, we welcome those who share our values and are devoted to advancing our community.

You will have the option to become a member of a progressive nation that appreciates variety and encourages social and economic prosperity by joining the Federal Republic of Solemania. Our government is committed to fostering an environment that encourages personal and professional growth, as well as providing individuals with access to high-quality education, healthcare, and social services.

Furthermore, Solemania is a country that offers a business-friendly climate with a low tax rate, a modern infrastructure, and a talented and educated workforce. In addition to a stunning terrain and a rich cultural legacy, our country is a perfect location for tourism and investment.

We feel that those who cherish democracy, equality, and growth would be wise to join the Federal Republic of Solemania. We invite you to investigate the numerous prospects in our wonderful nation and look forward to hearing from you.

<h2>What technologies were used in this website?</h2>
<a href="https://www.11ty.dev">11ty</a>, <a href="https://tailwindcss.com">Tailwind</a> and <a href="https://www.netlify.com">Netlify</a>.<br><br>

Thanks to Tom Reinert for making <a href="https://github.com/tomreinert/minimal-11ty-tailwind-starter">Minimal 11ty Starter</a> which was the template used for this website.