---
title: Contact
layout: layouts/base.njk
permalink: /contact/
eleventyNavigation:
  key: Contact
  order: 3
---

{#
<ul>
     {% for item in contact.items %}
     <li><a href="{{ item.link }}">{{ item.name }}</a></li>
     {% endfor %}
</ul>
#}

<div class="space-y-8">

  <p>
    You can contact the government of the Federal Republic of Solemania via <a href="mailto:solemanigov@gmail.com" class="text-blue-500 hover:to-blue-700 ease-in-out transition-all">our email</a>. We would typically respond in less than two days.
  </p>

</div>