---
title: Contact
layout: layouts/base.njk
permalink: /contact/
eleventyNavigation:
  key: Contact
  order: 3
---

{#
<ul>
     {% for item in contact.items %}
     <li><a href="{{ item.link }}">{{ item.name }}</a></li>
     {% endfor %}
</ul>
#}

<p class="mt-4">The Ministry of Peoples is currently working on this section of the website. Contacting the government of the Federal Republic of Solemania is currently unavailable to the public. We are currently working as fast as we can.</p>
