---
title: Credits
layout: layouts/base.njk
permalink: /credits/
---

<h2>The First Temporary Junta</h2>


<div class="flex gap-3 justify-center">
	<div class="flex flex-col">
		<div class="container mx-auto px-4 py-4 border border-red-500 hover:border-red-300 rounded-lg w-48">
			<img src="/assets/img/Alpha.jpeg" alt="63622656" border="0"
				class="w-24 h-auto mx-auto rounded-full hover:rotate-45 transition-all ease-in-out" /><br />
			<div class="text-center">
				<b>AlphaBeta906</b>
				<p class="text-sm text-red-700">Eternal Dictator</p>
			</div>
		</div><br />
	</div>

	<div class="flex flex-col">
		<div class="container mx-auto px-4 py-4 border border-red-500 hover:border-red-300 rounded-lg w-48">
			<img src="/assets/img/Itz.png" alt="63622656" border="0"
				class="w-24 h-auto mx-auto rounded-full hover:rotate-45 transition-all ease-in-out" /><br />
			<div class="text-center">
				<b>ItzCountryballs</b>
				<p class="text-sm text-red-700">Prime Minister</p>
			</div>
		</div><br />
	</div>

	<div class="flex flex-col">
		<div class="container mx-auto px-4 py-4 border border-red-500 hover:border-red-300 rounded-lg w-48">
			<img src="/assets/img/Hiuyju.png" alt="63622656" border="0"
				class="w-24 h-auto mx-auto rounded-full hover:rotate-45 transition-all ease-in-out" /><br />
			<div class="text-center">
				<b>HiuyjuTheYes</b>
				<p class="text-sm text-red-700">Mayor of Paruvia</p>
			</div>
		</div><br />
	</div>

	<div class="flex flex-col">
		<div class="container mx-auto px-4 py-4 border border-red-500 hover:border-red-300 rounded-lg w-48">
			<img src="/assets/img/Electric.jpeg" alt="63622656" border="0"
				class="w-24 h-auto mx-auto rounded-full hover:rotate-45 transition-all ease-in-out" /><br />
			<div class="text-center">
				<b>Electric_Diamond</b>
				<p class="text-sm text-red-700">Map Maker</p>
			</div>
		</div><br />
	</div>

	<div class="flex flex-col">
		<div class="container mx-auto px-4 py-4 border border-red-500 hover:border-red-300 rounded-lg w-48">
			<img src="/assets/img/Marcus.png" alt="63622656" border="0"
				class="w-24 h-auto mx-auto rounded-full hover:rotate-45 transition-all ease-in-out" /><br />
			<div class="text-center">
				<b>marcusthenoob</b>
				<p class="text-sm text-red-700">Member</p>
			</div>
		</div><br />
	</div>
</div>