---
title: Documents
layout: layouts/base.njk
permalink: /docs/
eleventyNavigation:
  key: docs
  order: 2
---
{% set constitutions = collections.constitutions %}
{% set laws = collections.laws %}
{% include "components/postslist.njk" %}
