---
title: Ordinances (Special Native Administrative Region III)
layout: layouts/base.njk
---

In this page, you will see the ordinances for all cities within iMakhindi.

<h2>Work In Progress</h2>