---
title: Credits
layout: layouts/base.njk
---

<h2>The First Temporary Junta</h2>

<div class="flex gap-3 justify-center">
	<div class="flex flex-col">
		<div class="container mx-auto px-4 py-4 border border-red-500 hover:border-red-300 rounded-lg w-48">
			<img src="/assets/img/Alpha.jpeg" alt="63622656" border="0"
				class="w-24 h-auto mx-auto rounded-full hover:rotate-45 transition-all ease-in-out" /><br />
			<div class="text-center">
				<b>AlphaBeta906</b>
				<p class="text-sm text-red-700">Eternal Dictator</p>
				<a href="/credits/alpha/" class="border border-red-600 text-red-600 hover:bg-red-600 hover:text-white py-2 px-5 rounded-md transition-all duration-300 text-center text-sm mx-auto">
					More info
				</a>
			</div>
		</div><br />
	</div>

	<div class="flex flex-col">
		<div class="container mx-auto px-4 py-4 border border-red-500 hover:border-red-300 rounded-lg w-48">
			<img src="/assets/img/Itz.png" alt="63622656" border="0"
				class="w-24 h-auto mx-auto rounded-full hover:rotate-45 transition-all ease-in-out" /><br />
			<div class="text-center">
				<b>ItzCountryballs</b>
				<p class="text-sm text-red-700">Prime Minister</p>
				<a href="/credits/country/" class="border border-red-600 text-red-600 hover:bg-red-600 hover:text-white py-2 px-5 rounded-md transition-all duration-300 text-center text-sm mx-auto">
					More info
				</a>
			</div>
		</div><br />
	</div>

	<div class="flex flex-col">
		<div class="container mx-auto px-4 py-4 border border-red-500 hover:border-red-300 rounded-lg w-48">
			<img src="/assets/img/Hiuyju.png" alt="63622656" border="0"
				class="w-24 h-auto mx-auto rounded-full hover:rotate-45 transition-all ease-in-out" /><br />
			<div class="text-center">
				<b>HiuyjuTheYes</b>
				<p class="text-sm text-red-700">Mayor of Paruvia</p>
				<a href="/credits/hiuyju/" class="border border-red-600 text-red-600 hover:bg-red-600 hover:text-white py-2 px-5 rounded-md transition-all duration-300 text-center text-sm mx-auto">
					More info
				</a>
			</div>
		</div><br />
	</div>

	<div class="flex flex-col">
		<div class="container mx-auto px-4 py-4 border border-red-500 hover:border-red-300 rounded-lg w-48">
			<img src="/assets/img/Electric.jpeg" alt="63622656" border="0"
				class="w-24 h-auto mx-auto rounded-full hover:rotate-45 transition-all ease-in-out" /><br />
			<div class="text-center">
				<b>Electric_Diamond</b>
				<p class="text-sm text-red-700">Map Maker</p>
				<a href="/credits/electric/" class="border border-red-600 text-red-600 hover:bg-red-600 hover:text-white py-2 px-5 rounded-md transition-all duration-300 text-center text-sm mx-auto">
					More info
				</a>
			</div>
		</div><br />
	</div>

	<div class="flex flex-col">
		<div class="container mx-auto px-4 py-4 border border-red-500 hover:border-red-300 rounded-lg w-48">
			<img src="/assets/img/Marcus.png" alt="63622656" border="0"
				class="w-24 h-auto mx-auto rounded-full hover:rotate-45 transition-all ease-in-out" /><br />
			<div class="text-center">
				<b>marcusthenoob</b>
				<p class="text-sm text-red-700">Member</p>
				<a href="/credits/marcus/" class="border border-red-600 text-red-600 hover:bg-red-600 hover:text-white py-2 px-5 rounded-md transition-all duration-300 text-center text-sm mx-auto">
					More info
				</a>
			</div>
		</div><br />
	</div>
</div>

<h2>Special Thanks</h2>

<div class="flex gap-3 justify-center">
	<div class="flex flex-col">
		<div class="container mx-auto px-4 py-4 border border-red-500 hover:border-red-300 rounded-lg w-48">
			<img src="/assets/img/Tom.png" alt="63622656" border="0"
				class="w-24 h-auto mx-auto rounded-full hover:rotate-45 transition-all ease-in-out" /><br />
			<div class="text-center">
				<b>Tom Reinert</b>
				<p class="text-sm text-red-700">Creator of Minimal 11ty Starter</p>
			</div>
		</div><br />
	</div>
</div>