---
title: Solemani Admission Forms
layout: layouts/base.njk
---

In this page, you will see the admission forms for Citizens.

<h2>Citizens Admission Form</h2>

It is important to take this Admission form if you're not admitted as a Citizen, because if you do not fill this form by the first day of a month, you will be deported back to your previous nation.

<div class="flex justify-center">
	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScmulAzJr8CI9ZFxgDPhmKmsbg15Ji9MENRREtfF0j1UnWnwg/viewform?embedded=true" width="640" height="1128" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>