---
title: Contact
layout: layouts/base.njk
---

{#
<ul>
     {% for item in contact.items %}
     <li><a href="{{ item.link }}">{{ item.name }}</a></li>
     {% endfor %}
</ul>
#}

<div class="space-y-8">

  <p>
    You can contact the government of the Federal Republic of Solemania via <a href="mailto:solemanigov@gmail.com" class="text-blue-500 hover:text-blue-700 ease-in-out transition-all">our email</a> or you can join the Discord server to get in touch with us.
  </p>

</div>

<h2>Official Discord Server</h2>
<center>
  <iframe src="https://discord.com/widget?id=1013776147743514727&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</center>