---
title: Home
layout: layouts/base.njk
---

<div class="space-y-8">

  <div>
    The Federal Republic of Solemania is a internat micronation, created by June 1st, 2022. This is not a roleplay, or a game, nor a social experiment, this is a real government that is growing each and everyday. Our goal is to create a utopian society, under the pillars of democracy, individuality, and freedom.
  </div>

</div>