---
title: Home
layout: layouts/base.njk
---

<div class="hero min-h-[calc(100vh-200px)]">
  <div class="hero-content flex-col lg:flex-row">
    <img src="/assets/img/coat_of_arms.png" class="w-auto h-44" />
    <div>
      <h1>Welcome To The Republic of Solemania</h1>
      <p>
        The Federal Republic of Solemania is a internat micronation, created in June 1st, 2022. This is not a roleplay, or a game, nor a social experiment, this is a real government that is growing each and everyday. Our goal is to create a utopian society, under the pillars of democracy, individuality, and freedom.
      </p>
    </div>
  </div>
</div>