---
title: Home
layout: layouts/base.njk
---

<div class="hero min-h-[calc(100vh-200px)]">
  <div class="hero-content flex-col lg:flex-row">
    <img src="/assets/img/coat_of_arms.png" class="w-auto h-44" />
    <div>
      <h1>Welcome To The Federal Republic of Solemania</h1>
      <p>
        Established on June 1, 2022, the Federal Republic of Solemania is a fully-fledged micronation that is not a roleplay, game, or social experiment, but rather a <i>bona fide</i> government that is growing stronger by the day. Fueled by a deep and unshakable conviction, its ultimate objective is to bring about the creation of a utopian society that is based on the principles of democracy, individualism, and equality, and liberty.
      </p>
    </div>
  </div>
</div>